.background {
  background-color: #dbecfb;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.card {
  height: 200px;
  width: 30%;
  top: 10%;
  z-index: 1;
}

.form {
  background-color: #fff;
  height: 70%;
  width: 40%;
  top: 25%;
}

.common {
  left: 50%;
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%, 0);;
}

.card-image {
  border-radius: 10px;
  width: 100%;
}

.form-data {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
}

.form-data-label-block {
  display: block;
}

.form-data label input {
  display: block;
}

.form-data-div-inline {
 display: flex; 
}