.background {
  background-color: #dbecfb;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.card {
  /* background-color: lightgray; */
  height: 200px;
  width: 400px;
  top: 10%;
  z-index: 1;
}

.form {
  background-color: #fff;
  height: 70%;
  width: 75%;
  top: 20%;
}

.common {
  left: 50%;
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%, 0);;
}

.card-image {
  border-radius: 10px;
  width: 100%;
}
