.background {
  background-color: #dbecfb;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.card {
  height: 200px;
  width: 400px;
  top: 10%;
  z-index: 1;
  position: relative;
}

.form {
  background-color: #fff;
  height: 70%;
  width: 550px;
  top: 200px;
}

.common {
  left: 50%;
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%, 0);
}

.card-image {
  border-radius: 10px;
  width: 100%;
}

.form-data {
  position: absolute;
  top: 175px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 500px;
}

.form-data-label-block {
  display: block;
  margin-top: 20px;
}

.form-data-input {
  display: block;
}

.form-data-input-common {
  width: 100%;
  height: 25px;
}

.form-data-div-inline {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.form-expiry {
  display: flex;
}

.cardnumber {
  top: 50%;
  width: 100%;
  font-size: 25px;
  left: 50%;
}

.cardname {
  left: 20%;
  top: 100%;
  font-size: 18px;
}

.expirydate {
  right: 0;
  top: 100%;
  font-size: 18px;
}

.common-card {
  color: #121212;
  transform: translate(-50%, 0);
  position: absolute;
  color: #fff;
  text-shadow: 2px 2px 2px #121212;
  text-align: center;
}

.cardsign {
  background-color: #121212;
  width: 85%;
  height: 25px;
  top: 50%;
  left: 50%;
}

.flip-enter {
  transform: rotateY(0deg);
}

.flip-enter-active {
  transform: rotateY(180deg);
  transition: transform 2s;
}

.flip-exit {
  transform: rotateY(0deg);
}

.flip-exit-active {
  transform: rotateY(180deg);
  transition: transform 2s;
}


.delay {
  animation: visible 2s infinite;
  animation-delay: 2s;
}

@keyframes visible{
  from {opacity: 0;}
  to {opacity: 1;}
}